body {
  background: #ccc;
  margin: 0;
}

.card-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.card1, .card2, .card3 {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card1 {
  z-index: 1;
  transform: translate(-50%, -50%) rotate(-30deg);
  transform-origin: center;
  width: 320px;
  height: 480px;
}

.card2 {
  z-index: 2;
  transform: translate(-50%, -50%) rotate(-15deg);
  transform-origin: center;
  width: 320px;
  height: 480px;
}

.card3 {
  z-index: 3;
  transform: translate(-50%, -50%) rotate(-10deg);
  transform-origin: center;
  width: 320px;
  height: 480px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.text img {
  width: 100%;
}

.text-black {
  z-index: 9;
}

.text-white {
  z-index: 10;
  clip-path: url("#clip01");
}

.svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 480px;
  overflow: hidden;
}

.text-appear {
  font-weight: bold;
  font-size: 120px;
}

.text-appear-text .child {
  display: inline-block;
  transform: scale(1, 0);
  transform-origin: bottom center;
  line-height: 1;
}

.text-appear-text .child:empty {
  width: 0.5em;
}